# Ignore most everything in the public directory.
# Most packages will be installed via Composer, but there may be a case for versioning a particular
# one-off package with this project.
/public/vendor/
/public/wp/
/public/wp-content/mu-plugins/**/*
/public/wp-content/plugins/**/*
/public/wp-content/themes/**/*
/public/wp-content/uploads/**/*

# Don't ignore particular parts of the project we want to keep track of.
!/public/wp-content/mu-plugins/index.php
!/public/wp-content/plugins/index.php

# Ignore our config values.
/config/config.php
/config/local-config.php

# Ignore specific files.
.env
debug.log

# Ignore wp-cli config
wp-cli.yml
